@import 'page000.scss';
$weight:600;
$height:18px;
$lheight:20px;
@mixin text {
	font-weight:$weight;
	height:$height;
	line-height:$lheight;
}

@function funcW($x,$y){
	@return $x-$y+$x*4;
}	

div{
	width:100px;
	$color:#888 !global;
	color:$color;
	p{
		text-align:center;
		$font-size:18px;
		font-size:$font-size;
		@include text;
	}
	&:hover {
		width:funcW(500,50);
	}
}
